<h1>Users#index</h1>
<p>Find me in app/views/users/index.html.erb</p>

<% @posts.each do |post| %>
  <%= image_tag post.main_image %>
  <h1><%= post.caption %></h1>
  <%= link_to post.user.username, user_path(post.user) %>
  <%= link_to "Show more", user_post_path(post.user, post) %>
<% end %>
<%= link_to  "Submit Post", new_user_post_path(@user) %>

<h3>
  <%= link_to @user.username, user_path(@user.id) %>
</h3>

