<div class="container">
    <h1>@<%= @user.username %></h1>

    <table class="table mt-4">
        <tr>
            <td>First Name</td>
            <td>Last Name</td>
            <td>Username</td>
            <td>Phone Number</td>
            <td>Address</td>
            <td>City</td>
            <td>Country</td>
            <td>Email</td>
            <td>Actions</td>
        
        </tr>
            
        
        <tr>
            <td><%= @user.fname %></td>
            <td><%= @user.lname %></td>
            <td><%= @user.username %></td>
            <td><%= @user.phone %></td>
            <td><%= @user.address %></td>
            <td><%= @user.city %></td>
            <td><%= @user.country %></td>
            <td><%= @user.email %></td>
        
        </tr>
        <td>
            <% if @user.user_image.attachment != nil %>
            <%= image_tag @user.user_image.variant(resize_to_limit: [250, nil]) %>
            <h1><%= @user.fname %></h1>
            <% end %>
        </td>
        
        <%= link_to "create post", new_post_path(@posts) %>
        
        
        <% if @posts != nil %>
    
        <% @posts.each do |post| %>
            <% if post.main_image.attachment != nil %>

            <%= image_tag post.main_image.variant(resize_to_limit: [250, nil]) %>

        <% end %>
        
            <h1><%= post.caption %></h1>
        <% end %>
        <% end %>
    </table>

    <table class="table mt-4">
        <% if @user.id != current_user.id %>
            <% if @following_this_person && @followed_by_this_person %> 
                <%= link_to "Unfollow", user_relationships_destroy_path(@user) %>
                </br>
                <small><%= @user.username %> follows you</small>
            <% elsif @following_this_person %>
                <%= link_to "Unfollow", user_relationships_destroy_path(@user) %>
            <% elsif @followed_by_this_person %>
                <%= link_to "Follow back", user_relationships_create_path(@user) %>
                </br>
                <small><%= @user.username %> follows you</small>
            <% else %>
                <%= link_to "Follow", user_relationships_create_path(@user) %>
            <% end %>
        <% else %>
            <%= link_to "Edit", edit_user_registration_path(@user), class: "btn btn-warning" %>
        <% end %>
    </table>
</div>

   