<h1><%= @user.username %></h1>

<table class="table mt-4">
<tr>
    <td>First Name</td>
    <td>Last Name</td>
    <td>Username</td>
    <td>Phone Number</td>
    <td>Address</td>
    <td>City</td>
    <td>Country</td>
    <td>Email</td>
    <td>actions</td>

</tr>
    

<tr>
    <td><%= @user.fname %></td>
    <td><%= @user.lname %></td>
    <td><%= @user.username %></td>
    <td><%= @user.phone %></td>
    <td><%= @user.address %></td>
    <td><%= @user.city %></td>
    <td><%= @user.country %></td>
    <td><%= @user.email %></td>
 
</tr>
<tr>
    <%= image_tag @user.user_image.variant(resize_to_limit: [250, nil]) %>
    <tr>
        <td>description</td>

        <td><%= @user.desc %></td>

    </tr>
   

</tr>

<%= link_to "Edit", edit_user_registration_path(@user), class: "btn btn-warning" %>

</table>