<h1>Posts#show</h1>
<p>Find me in app/views/posts/show.html.erb</p>


<%= image_tag @post.main_image %>
<p>Caption: <strong><%= @post.caption %></strong></p>

<div class="col-md-7">
    <h4>Comments</h4>
    <% @comments.each do |f| %>
        <p>
        <%= f.user.username %>: <%= f.description %> 
        <% if f.user.id == current_user.id %>
            <span><%= link_to "x", post_comment_path(@post, f), method: "delete", data:{ confirm: "Are you sure you want to delete this?"}, class: "btn btn-light btn-sm" %></span>
        <% end %>
        </p>

    <% end %>
</div>

<%= render 'comments/form' %>
