<!DOCTYPE html>
<html>
  <head>
    <title>RubyTeam</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <p class="alert"><%= alert %></p>
  
  <% if user_signed_in? %>
    <%= link_to "Around the world", user_posts_path(current_user) %>
    <%= link_to "Home", users_path %>
    <%= link_to current_user.username, user_path(current_user) %>
    <%= link_to "Logout", destroy_user_session_path, method: :delete %> 
  <% end %>
    <%= yield %>
  </body>
</html>
